@mixin page-title()
    color: grey
    font-size: 60pt
    padding: 0px 0px 0px 0px

@mixin center($value: 13%)
    margin-left: $value
    margin-right: $value
    margin-top: 2%
    margin-bottom: 2%

#album
    @include center
    background-color: white
    border-radius: 5%
    padding: 2% 2% 2% 2%
    #album-search
        form
            display: inline
            .search-query
                margin-right: 1%
        .submit
            float: right
    header
        @include page-title
    #content
        padding: 1% 1% 1% 1%
        .pic
            margin-bottom: 1%
            span
                margin-right: 5%
                font-size: 25pt
            
footer
    margin-bottom: 2%
    text-align: center
