@mixin center($value: 13%)
    margin-left: $value
    margin-right: $value

@mixin border-style()
    border: solid 2px

body
    background-color: #eeeeee !important

#article-list
    @include center
    background-color: #eeeeee
    padding: 2% 5% 5% 5%
    margin-top: 5%
    margin-bottom: 1%
    h1
        color: grey
        font-size: 60pt
        padding: 0px 0px 0px 0px
    #article-search
        margin-bottom: 5px
        padding: 1% 1% 1% 1%
        *
            display: inline
            height: 26px
        .submit
            float: right
        #search-word
            padding: 2px 2px 2px 2px
            border: none
            background-color: white
        #search-button
            i
                background-color: white
            background-color: white
            border: none
    #main
        overflow: hidden
        #list
            padding: 1% 1% 1% 1%
            display: inline-block
            width: 60%
            min-height: 400px
            #articles
                margin: 2% 2% 2% 2%
                .one-article
                    background-color: white
                    overflow: hidden
                    #title
                        font-size: 28pt
                    #article-time
                        text-align: right
                    #link
                        float: right 
        #choose
            background-color: white
            float: right
            width: 25%
            #label
                header
                    background-color: #1B1B1B
                    span
                        color: white
                #arrow-line
                    background-color: blue
                    height: 10px
                    .triangle
                        width: 0
                        height: 0
                        border-left: 10px solid transparent
                        border-right: 10px solid transparent
                        border-top: 20px solid blue
                overflow: hidden
                ul
                    float: left

footer
    margin-bottom: 2%
    text-align: center