@mixin _transition($lower_forth, $upper_forth)
  transition: left 2s
  -moz-transition: left 2s 
  -webkit-transition: left 2s
  -o-transition: left 2s
  transition-timing-function: cubic-bezier(0, $lower_forth, $upper_forth, 1)
  -moz-transition-timing-function: cubic-bezier(0, $lower_forth, $upper_forth, 1)
  -webkit-transition-timing-function: cubic-bezier(0, $lower_forth, $upper_forth, 1)
  -o-transition-timing-function: cubic-bezier(0, $lower_forth, $upper_forth, 1)

@mixin _triangle($side_length, $color, $direction)
  @if $direction == 'up'
    border-bottom: $side_length solid $color
    border-left: $side_length*0.86 solid transparent
    border-right: $side_length*0.86 solid transparent
  @else
    border-left: $side_length solid $color
    border-top: $side_length*0.86 solid transparent
    border-bottom: $side_length*0.86 solid transparent

body
  margin: 0
  div#header
    background: #1B1B1B
    div#header-wrapper
      width: 960px
      margin: 0 auto
      overflow: hidden
      div#header-logo
        display: inline-block
        position: relative
        div#triangle-small
          float: left
          display: inline-block
          margin-top: 8px
          margin-right: -10px
          @include _triangle(30px, #666, 'right')
        div#triangle-big
          float: left
          display: inline-block
          @include _triangle(39px, #3B3B3B, 'right')
        h3
          display: inline-block
          margin-top: 22px
          margin-left: -57px
          color: white
        div#header-pointer
          position: absolute
          bottom: 0
          left: 160px
          @include _triangle(11px, #00A1EA, 'up')
          @include _transition(0.20, 0.55)
      div#header-nav
        padding-left: 50px
        display: inline-block
        a
          font-size: 18px
          padding-left: 40px
          text-decoration: none
          color: white
          &:hover
            color: #00A1EA
      div#header-operation
        float: right
        a
          border: 1px solid white
          text-decoration: none
          color: white
          &:hover
            color: #00A1EA
    div#header-bottom
      background: #00A1EA
      height: 6px
