doctype html
html
  head
    title about
    meta(charset="utf-8")
    script(src='./lib/jquery.js')
    link(href='/bin/css/header.css', rel='stylesheet')
    link(href="/bin/css/about.css", rel="stylesheet")
    link(href='/bin/css/footer.css', rel='stylesheet')
    script(src='/bin/js/header.js')
  body
    include ./includes/header.jade
    div.main
      div#works-content
        h1
          |关于我们
        p
          |现代互联网应用俱乐部，是中山大学软件学院技术发展中心众多优秀的俱乐部之一，也是中山大学最优秀的技术型社团之一。这个凝聚力强大的技术型俱乐部成立于2010年，前身为Web2.0俱乐部。
        p
          |正如它的名字所示，俱乐部专注于互联网技术、关注互联网技术的发展。并且利用互联网技术来创造各种充满想象力的作品，在俱乐部里，技术，是分享的。想象力，是无拘无束的。
        div.works-discription
          h1
            |现代互联网应用
          p
            |现代，互联网，应用程序。广义地说，互联网相关的应用都是互联网应用程序。其实我们的生活早就已经充满了互联网应用程序，大家用的Gmail、WebQQ、淘宝、百度、谷歌等都是著名的互联网应用程序，所以，网站是最最典型的互联网应用程序。浏览器里输入地址，按下回车键，就相当于启动了一个互联网应用。
          img#works-connected(src="/src/img/about/connected.jpg", alt="connectToTheWorld")
        div.works-discription
          img#works-us(src="/src/img/about/us.jpg", alt="aboutUs")
          h1
            |学以致用
          p
            |能学的东西很多，如果你愿意，你会学到如何用互联网应用技术做出各种酷炫的效果，各种使用的网页应用。当然，我们这里有很多项目可以让你锻炼自己的能力，只要你愿意，肯奋斗，你所获得的编程能力足以让你在大学中养活自己。具体技术方面，其实也没有别的什么我们平时只不过是喜欢折腾一下网站的前端开发中要使用的HTML，JavaScript，CSS，后端开发中需要的Python，nodejs，PHP，MySQL。我们有时候喜欢折腾各种设计模式，算法，框架。我们喜欢用SVN，用Git来进行协同工作。更加不用说那Linux、bash sheel啥啥的。

      include ./includes/footer.jade
      script(src='./bin/js/footer.js')

