doctype html
html
    head
        title album
        script(src='../lib/jquery.js')
    body
        p album
        include ./includes/header.jade
        if user
            a(href='/album/createAlbum') createNew
        if albums
            each album in albums
                br
                p title:
                    a(href='/album/' + album._id)=album.title
                p cratedAt:
                    span=album.createdAt
                p createdBy:
                    span=album.createdBy
                p pictures:
                    span=album.pictures
                p cover
                img(src= '/assets/img/album/' + album.title + '/' + album.cover alt='cover')
