extends ./includes/layout.jade

block content
    div#album
        header 相册
        div#album-search
            form(action='#').input-group.navbar-search
                input(type="text", name="title", placeholder="输入关键词搜索相册").search-query
                button(type="submit").btn search
            button(type="button", onclick="window.open('album/createAlbum')").btn.submit 创建新相册
        br
        div#content
            for album in albums
                div.pic
                    p album.title
                    img.cover(src='./assets', onclick="window.open('./'' + album.Id)")