extends ./includes/layout.jade

block content
    div#article-list
        h1 文章列表
        div#article-search
            form#search(action= "./search")
                input#search-word(type= "text", name= "words", onblur= "this.value= '搜索文章'", onFocus= "this.value= ''", value= "search articles")
                button(type= "submit") Search
                button.submit(type= "button", onclick= "window.open('./article/create')") 发表文章
        div#main
            div
                div#list
                    div#articles
                        if articles
                            each article in articles
                                div.one-article
                                    img#user-image
                                    p#title #{article.title}
                                    p#article-time #{article.createdBy} 于#{moment(article.cratedAt).format('MMM D.YY')}发表了新文章
                                    a#link(href= '/article/' + article._id) 详细内容......
                div#choose
                    div#menu 分类目录
                        div
                            input.checkblock(type= 'checkbox', name= 'technology' value= '技术')
                            | 技术
                        divv
                            input.checkblock(type= 'checkbox', name= 'product' value= '产品')
                            | 产品
                        div
                            input.checkblock(type= 'checkbox', name= 'funnystory' value= '趣闻')
                            |趣闻
                        div
                            input.checkblock(type= 'checkbox', name= 'history' value= '纪事')
                            | 纪事
                        div
                            input.checkblock(type= 'checkbox', name= 'mood' value= '心情')
                            | 心情
                        div
                            input.checkblock(type= 'checkbox', name= 'talk' value= '吐槽')
                            | 吐槽
                    div#label
                        p 标签
                        ul
                            li
                                a(href= "./?label='javasript'") javascript
                            hr
                            li
                                a(href= "./?label='PHP'") PHP
                            hr
                            li
                                a(href= "./?label='CSS'") CSS
                            hr
                            li
                                a(href= "./?label='Angular JS'") Angular JS
                            hr
                            li
                                a(href= "./?label='Architecture'") Architecture
                            hr
                            li
                                a(href= "./?label='Dream'") Dream
                div#more
                    button(type= "button") more *

