doctype html
html
    head
        title createDiscuss
        script(src='../lib/jquery.js')
        link(href='/bin/css/header.css', rel='stylesheet')
        link(href='/bin/css/footer.css' rel='stylesheet')
        link(href='/bin/css/create.css' rel='stylesheet')
        script(src='/bin/js/header.js')
    body
        include ./includes/header.jade
        script(src='/lib/tinymce/js/tinymce/tinymce.min.js')
        script(src='/bin/js/creatediscuss_tinymce.js')
        .main
            .add_shadow_title
                input(type='text' id='title' placeholder='标题')
            .create_tag.discuss_tag
                p 标签
                input(type='checkbox' value="Front-end")
                |前端
                input(type='checkbox' value="Back-end")
                |后端
                input(type='checkbox' value="Software_Design") 
                |软件设计
                input(type='checkbox' value="Software_Engineering")
                |软件工程
                input(type='checkbox' value="Database")
                |数据库
                input(type='checkbox' value="Other")
                |其它
            #content_textarea
                #content_textarea_border
                    textarea(id='content')
            button(type='button' id='submit') 发 表
            button(type='button' onclick="location.href='../Discuss'" id="cancel") 取 消
        include ./includes/footer.jade
        script(src='/bin/js/footer.js')
        script(src='../bin/js/createDiscuss.js')
