doctype html
html
    head
        title createArticle
        script(src='../lib/jquery.js')
        link(href='/bin/css/header.css', rel='stylesheet')
        script(src='/bin/js/header.js')
    body
        p createArticle
        include ./includes/header.jade
        p category
        input(type='text' id='category')
        p title
        input(type='text' id='title')
        p content
        input(type='textarea' id='content')
        button(type='button') submit
        script(src='../bin/js/createArticle.js')

