doctype html
html
    head
        title index
        link(rel="stylesheet", href="/bin/css/createAlbum.css")
        link(rel="stylesheet", href="/bin/css/header.css")
        link(rel="stylesheet", href="/bin/css/footer.css")
        script(src='/lib/jquery.js')
        script(src='/bin/js/header.js')
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    body
        header
            include ./includes/header.jade
        .main
            .addBG
                .addForm
                    form(action="./createAlbum", method="POST", enctype="multipart/form-data")
                        fieldset
                            legend 创建新相册
                            .title.divTitle
                                span 标题:
                                input(type="text", name="title", placeholder="Input the title")
                            .cover.divTitle
                                span 封面:
                                input(type="text" id="chosen" readonly="readonly" placeholder="未选择图片")
                                a.upload  浏览
                                    input(type="file" name="cover" onchange="document.getElementById('chosen').value = this.value")
                            button(type="submit" id="submit") 创建完毕
        //include ./includes/footer.jade
        //script(src='/bin/js/footer.js')
