doctype html
html
    head
        title createAlbum
        script(src='../lib/jquery.js')
    body
        p createAlbum
        include ./includes/header.jade
        form(action='/album/createAlbum' method='post' enctype='multipart/form-data')
            p title
            input(type='text' name='title')
            p cover
            input(type='file' name='cover')
            button submit
