doctype html
html
    head
        title Index
        script(src='./lib/jquery.js')
        link(href='/bin/css/header.css', rel='stylesheet')
        script(src='/bin/js/header.js')
    body
        include ./includes/header.jade
