doctype html
html
  head
    title Index
    script(src='./lib/jquery.js')
    link(href='/bin/css/header.css', rel='stylesheet')
    link(href='/bin/css/footer.css', rel='stylesheet')
    link(href='/bin/css/index.css', rel='stylesheet')
    link(href='./lib/buttons/button.css', rel='stylesheet')
    script(src='/bin/js/header.js')
    script(src='/bin/js/index.js')
  body
    include ./includes/header.jade
    div.main
      img(src='/src/img/index/index.jpg' alt='index')
    include ./includes/footer.jade
    script(src='/bin/js/footer.js')
