doctype html
html
    head
        title index
        script(src='./lib/jquery.js')
        link(href='/bin/css/test.css', rel='stylesheet')
    body
        include ./includes/header.jade
        p blablabla
