doctype html
html
    head
        title login
        script(src='./lib/jquery.js')
        link(href='/bin/css/header.css', rel='stylesheet')
        script(src='/bin/js/header.js')
    body
        p login
        include ./includes/header.jade
        p username
        input(type='text' id='username')
        p password
        input(type='text' id='password')
        button submit
        script(src='./bin/js/login.js')



