doctype html
html
    head
        title login
        link(rel='stylesheet' href='./bin/css/test.css')
        script(src='./lib/jquery.js')
    body
        p login
        include ./includes/header.jade
        p username
        input(type='text' id='username')
        p password
        input(type='text' id='password')
        button submit
        script(src='./bin/js/login.js')



