doctype html
html
    head
        title login
    body
        p login
        include ./includes/header.jade
        p username
        input(type='text' id='username')
        p password
        input(type='text' id='password')
        button submit
        script(src='./sampleJS/jquery.js')
        script(src='./sampleJS/login.js')



