doctype html
html
    head
        title register 
        script(src='./lib/jquery.js')
    body
        p register
        include ./includes/header.jade
        p username
        input(type='text' id='username')
        p password
        input(type='text' id='password')
        p email
        input(type='text' id='email')
        button(type='button') submit
        script(src='./bin/js/register.js')

