doctype html
html
    head
        title register
        script(src='./lib/jquery.js')
        link(href='/bin/css/header.css', rel='stylesheet')
        link(href='/bin/css/login_and_register.css' rel='stylesheet')
        link(href='/bin/css/register.css' rel='stylesheet')
        script(src='/bin/js/header.js')
    body
        include ./includes/header.jade
        .main
            .top.register_shadow
                p#login_and_register REGISTER
                input(type='text' id='username' placeholder='username')
                input(type='password' id='password' placeholder='password')
                input(type='text' id='email' placeholder='email')
                button(type='button') SIGN UP
                p#top_login_or_register <a href="/log">sign in now→</a>
                script(src='./bin/js/register.js')
            .bottom
                p © 2014 MIAC

