html(lang="en")
    head
        title test
        link(type='text/css' rel='stylesheet' href='/stylesheets/style.css')
        script(src='/javascripts/build.js')
    body
        #test
            p 233
