doctype html
html
  head
    title works
    script(src='./lib/jquery.js')
    meta(charset='utf-8')
    link(href='/bin/css/header.css', rel='stylesheet')
    link(href='/bin/css/works.css', rel='stylesheet')
    link(href='/bin/css/footer.css', rel='stylesheet')
    link(href='./lib/buttons/button.css', rel='stylesheet')
    script(src='/bin/js/header.js')
    script(src='/bin/js/works.js')
  body
    include ./includes/header.jade
    div#works-wrapper
      img(id='works-logo' src="/src/img/works/works.jpg", alt="works")
      div#works-content
        div.works-pic
          img(src="/src/img/works/xiaotao.png", alt="中大校淘")
        div.works-flip-container
          div.works-flipper
            div.works-front
              p 校淘中大
              p 校淘创立于2013年9月，是一个针对广州大学城的二手交易、商家信息发布平台。校淘通过收集大学城学生及商家信息，整合大学城内资源，形成便于搜索的数据库，为学生提供二手交易、团购活动、兼职等相关信息，便于大学城内中小型商家进行低成本、范围广的宣传促销活动。
            div.works-back
              p 1.整合大学城内资源，做成数据库，让信息能够系统地呈现；
              p 2.网页 、微博 、微信三方同步，保证信息及时更新，方便用户操作；
              p 3.专注广州大学城细分市场，弥补其他平台的相关信息空缺；
              p 4.以大学不同高校为基本分类项，提高搜索效率；
              p 5.根据用户搜索浏览的数据，为不同用户提供个性化推荐列表；
              p 6.二手平台增设求购功能，利用庞大的社交平台，满足用户需求。
                
        div.works-flip-container
          div.works-flipper
            div.works-front
              p 爱情树
              p 平台目前需使用中大ID获取邀请码方能进入。首次进入需填写学院、专业、电话号码、兴趣爱好、身高和个人简介。其中，简介还可以使用“我帮你写”功能，即填入关键词就可形成相应介绍。“爱情树”的口号：“Here，凡是不以谈恋爱为目的的交友，都是耍流氓。”
            div.works-back
              br
              p 如果单身男女希望找人陪看电影、吃饭、旅游，可在“约会”页面找到约会对象。用户自己填写希望约会的内容、地点、时间，还可选择自己心仪的他/她一块去。截至11月3日上午，已有35条显示“有这些男生正在找女生约会”。而约会内容，以看电影、泡图书馆为多。
              p 如果有人希望认识异性却害羞，可在平台“随机聊”功能区解决问题，“系统将随机找到一位在线的异性用户连接，对接者就可开始谈天说地了”。
        div.works-pic
          img(src="/src/img/works/iqshu.jpg", alt="爱情树")
        div.works-flip-container
          div.works-flipper
            div.works-front
              p At plus
              p 提前将用户带入web3.0的工具，“＠”代表的是分享，“＋”则意味着更多，更有趣，更及时，更便捷，更多互动，更多花样，更多参与者，更富有意境，更好地用户体验……
            div.works-back
              br
              p 将W3C引进中国的牵头人许洪波如此评价“@+”的意义：“互联网上所有的现实内容其实是无序的，通过给互联网加标签这种行为，可以使之成为有序的，通过王博士的这个技术，能够将互联网上已经过载的信息，转变成为结构化的大数据，这将大大降低语义网未来的门槛，甚至可以把Web直接从2.0推向3.0。”
        div.works-pic
          img(src="/src/img/works/atplus.png", alt="@+")
      include ./includes/footer.jade
