body {
  background-color: #eeeeee !important; }

.main {
  width: 900px;
  margin: 0 auto; }
  .main header {
    text-align: center;
    margin-bottom: 5%; }
    .main header img {
      width: 100%;
      height: 300px; }
  .main #album-search {
    margin-bottom: 5px;
    padding: 0; }
    .main #album-search * {
      display: inline;
      height: 30px; }
    .main #album-search .submit {
      float: right;
      text-align: center;
      font-size: 18px;
      height: 40px; }
    .main #album-search #search-word {
      background-color: white;
      border: solid #49474A 0.5px;
      padding: 2px 2px 2px 2px;
      border: none;
      background-color: white;
      font-size: 18px; }
    .main #album-search #search-button {
      background-color: white;
      border: solid #49474A 0.5px;
      background-color: white;
      border: none; }
      .main #album-search #search-button i {
        background-color: white; }
  .main header {
    color: grey;
    font-size: 60pt;
    padding: 0px 0px 0px 0px; }
  .main #content {
    padding: 1% 1% 5% 1%; }
    .main #content .pic {
      display: inline-block;
      width: 250px;
      background-color: white;
      border: solid #49474A 0.5px;
      margin: 2% 2% 2% 2%; }
      .main #content .pic img {
        display: block;
        height: 250px;
        width: 100%; }
      .main #content .pic img:hover {
        cursor: pointer; }
      .main #content .pic .info {
        padding: 4% 4% 4% 4%;
        height: auto; 
        overflow: hidden;}
        .main #content .pic .info span {
          font-size: 12pt; }
        .main #content .pic .info span.title {
          margin-right: 5%;
          font-size: 14pt; }
        .main #content .pic .info span.num {
          float: right; }
          .main #content .pic .info span.num span.number {
            color: #00a1ea;
            font-size: 1.5em;
            font-weight: bold; }
      .main #content .pic .time {
        padding: 10px 10px 5px 0; }
        .main #content .pic .time p {
          text-align: right;
          color: #ebebeb; }
    .main #content .pic:hover {
      box-shadow: 2px 2px 2px #c7c4c4; }
    .main #content .year header {
      text-align: center;
      font-size: 40pt;
      font-weight: bold;
      color: #c7c4c4;
      margin-bottom: 0; }
    .main #content .year .row {
      text-align: center; }

footer {
  margin-bottom: 2%;
  text-align: center;
  font-size: 18px; }

#header {
  box-sizing: content-box; }
  #header * {
    box-sizing: content-box; }
  #header h3 {
    font-weight: bold; }
  .time p {
    margin:  0 0 5px 0;
    color: #c7c4c4;
  }
  .album_style {
    height: 29px;
    vertical-align: -webkit-baseline-middle;
  }

  .title {
    color: #99989e;
  }

  .pic {
    position: relative;
  }
  .pic:after {
    position: absolute;
    content: '';
    width: 200px;
    height: 200px;
    background-color: #DDDBDC;
    right: 10px;
    bottom: -5px;
    z-index: -1;
    transform: rotate(3deg);
    -ms-transform:rotate(3deg);    /* IE 9 */
    -moz-transform:rotate(3deg);    /* Firefox */
    -webkit-transform:rotate(3deg); /* Safari 和 Chrome */
    -o-transform:rotate(3deg);  /* Opera */
  }
.submit_style {
  border: none;
  border-radius: 4px;
}
/*# sourceMappingURL=album.css.map */
