body {margin: 0;padding: 0;}
body, html{height: 100%;}
a {text-decoration: none;}
.main {
  margin: 0 auto 80px auto;
  width: 850px;
  min-height: calc(100% - 300px);
}
.headerImg img {
  width: 850px;
  height: 300px;
} 
.newPicBlock {
  margin: 5px 0;
  overflow: auto;
}
.newPicBlock button{
  width: 100px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: #00A1EA;
  color: #fff;
  float: right;
  font-size: 16px;
}
.yearNew p{
  color: #9D9999;
  font-size: 25pt;
  font-weight: bolder;
  text-align: center;
}

.allPicBlocks {
  overflow: auto;
}

.eachPicBlock {
  width: 241px;
  height: auto;
  background-color: #fff;
  float: left;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px #8B8888;
}
.eachPicBlock img{
  width: 225px;
  height: 225px;
  margin: 8px;
}

.left {
  margin-right: 29px;
  margin-left: 5px;
}

.center {
  margin: 0 29px;
}

.right {
  margin-left: 29px; 
}

.albumTitle {
  color: #666161;
  margin: 0 8px;
  width: 225px;
  font-size: 18px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.albumInfo {
  margin: 5px 8px;
  font-size: 14px;
  text-align: right;
}

.picForNum {
  margin: 0 5px;
  color: #8B8888;
}

.picNum {
  color: #00A1EA;
}

.picDate {
  margin-left: 5px;
  color: #00A1EA;
}

.bottomInfo {
  text-align: center;
  color: #8B8888;
  font-size: 14px;
  margin: 20px 0 50px 0;
}

.pagesBtn {
  margin: 0 auto;
  text-align: center;
}
.prev, .centerBtn, .next {
  display: inline-block;
}

.prev {
  border-left: 25px solid transparent;
  border-bottom: 25px solid #48B7EA;
}

.next {
  border-right: 25px solid transparent;
  border-bottom: 25px solid #48B7EA;
  margin-left: 5px;
}
.centerBtn {
  width: 50px;
  height: 25px;
  background-color: #48B7EA;
  color: #fff;
  vertical-align: baseline;
  margin: 0 0 0 5px;
  overflow: hidden;
}

.invisible {
    display: none;
}

.page-nav {
    padding-left: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.page-button {
    display: inline-block;
    color: white!important;
    background-color: #00A1EA;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border-radius: 5px;
}

.page-button a{
    text-align: center;
    top: 5px;
    position: relative;
    color: white!important
}

.page-button-2 {
    display: inline-block;
    color: white;
    background-color: #00A1EA;
    height: 30px;
    width: 56px;
    border-radius: 5px;
}

.page-button-2 a{
    text-align: center;
    top: 5px;
    position: relative;
    color: white!important
}

#prev-page {
    margin-right: 15%;
}

#next-page {
    margin-left: 15%;
}

.chosen-page {
    background-color: #00D1EA;
}