body {
	margin: 0;
	padding: 0;
	background-color: #F1EFF0;
}

a {
	text-decoration: none; 
}

.main {
	margin: 0 auto;
	padding-top: 50px;
	width: 900px;
    overflow: hidden;
}

.main_left {
	margin-right: 50px;
	width: 600px;
}

.main_right {
	float: right;
	margin-left: 50px;
	width: 250px;
}

.article {
	background-color: #fff;
	border: 1px solid #DEDEDE;
	height: 160px;
	padding: 12px 24px 0 24px;
	position: relative;
	width: 550px;
	margin-bottom: 25px;
}

.invisible {
    display: none;
}

.page-nav {
    padding-left: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.page-button {
    display: inline-block;
    color: white!important;
    background-color: #00A1EA;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border-radius: 5px;
}

.page-button a{
    text-align: center;
    top: 5px;
    position: relative;
    color: white!important
}

.page-button-2 {
    display: inline-block;
    color: white;
    background-color: #00A1EA;
    height: 30px;
    width: 56px;
    border-radius: 5px;
}

.page-button-2 a{
    text-align: center;
    top: 5px;
    position: relative;
    color: white!important
}

#prev-page {
    margin-right: 15%;
}

#next-page {
    margin-left: 15%;
}

.chosen-page {
    background-color: #00D1EA;
}

.article:after {
	position: absolute;
    content: '';
    width: 550px;
    height: 150px;
    background-color: #DDDBDC;
    right: 20px;
    top: 15px;
    z-index: -1;
    transform: rotate(2deg);
    -ms-transform:rotate(2deg);    /* IE 9 */
    -moz-transform:rotate(2deg);    /* Firefox */
    -webkit-transform:rotate(2deg); /* Safari 和 Chrome */
    -o-transform:rotate(2deg); 
}

.title{
	color: #1BA6EB;
	font-size: 20px;
	height: 24px;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 400px;
}

.content {
	font-size: 15px;
	height: 95px;
	overflow: hidden;
	visibility: hidden;
	white-space: normal;
	word-break:break-all; /*支持IE，chrome，FF不支持*/
	word-wrap:break-word;/*支持IE，chrome，FF*/
}

.article_detail {
	height: 20px;
	padding: 7.5px 0;
}

.name {
	color: #808080;
	margin: 0 10px 0 0;
	max-width: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
	font-size: 15px;
}

.blue {
	color: #1BA6EB;
	font-size: 15px;
	margin: 0 10px 0 0;
}

.tag {
    color: #808080;
    float: right;
    overflow: hidden;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    bottom: 33px;
}

.box1 {
	margin-bottom: 25px;
	position: relative;
}

.box1 input {
	border: 1px solid #DEDEDE;
	height: 40px;
	padding: 0 10px;
	width: 228px;
}

.box1:after {
	position: absolute;
    content: '';
    width: 200px;
    height: 20px;
    background-color: #DDDBDC;
    right: 10px;
    top: 25px;
    z-index: -1;
    transform: rotate(3deg);
    -ms-transform:rotate(3deg);    /* IE 9 */
    -moz-transform:rotate(3deg);    /* Firefox */
    -webkit-transform:rotate(3deg); /* Safari 和 Chrome */
    -o-transform:rotate(3deg);  /* Opera */
}

.createnew {
	background-color: #1BA6EB;
	height: 30px;
	padding: 5px 0;
	text-align: center;
	width: 250px;
}

.createnew a{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	padding: 5px 0;
}
.createnew a p {
	margin: 0;
}

.tips {
	width: 250px;
	height: auto;
	position: relative;
}

.tips_head {
	background-color: #1B1B1B;
	color: #fff;
	height: 50px;
	font-size: 20px;
}

.tips_head p {
	padding: 10px 0px 10px 20px;
}

.tips_head_1 {
	height: 5px;
	background-color: #00A1EA;
}

.tips_head_2 {
	width:0;
	height:0;
    line-height:0;
    border-width:7.5px;
    border-style:solid;
    margin-left: 30px;
    border-color: #00A1EA transparent transparent transparent;
}

.tips_clip {
	background-color: #fff;
}

.tips_index {
	margin: 0;
}

li {
	list-style: url("/src/img/Discuss_tag.png") outside circle;
	margin: 0px 0px 7.5px 15px;
}

li a {
	vertical-align: top;
	color: #747474;

}

.bottom {
    text-align: center;
    margin-top: 20%;
}
#article_bottom {
	width: 650px;
	text-align: center;
	color: #C8C8C8;
	font-size: 18px;
}

/*avatar*/
.avatar {
	width: 40px;
    height: 40px;
    display: inline-block!important;
    float: left;
    position: relative;
    top: -10px;
}

.avatar img {
	border-radius: 50%;
	height: 30px;
	width: 30px;
	margin: 5px;
}
/*avatar*/
