body,a,ul,li{margin: 0;padding: 0;}
html,body {
  height: 100%;
}
ul,li{list-style: none;}
.main {
  width: 900px;
  margin: 10px auto 50px auto;
  overflow: hidden;
  min-height: calc(100% - 300px);
}
h1 {
  text-align: center;
}
.bigPics {
  width: 900px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}
.bigList-items li {
  display: table;
  position: absolute;
}
.firstItem .pic img, .firstItemDir .pic img{
  max-width: inherit;
  max-height: inherit;
}

.rightItem .pic img, .leftItem .pic img, .normal .pic img, .rightItemDir .pic img, .leftItemDir .pic img{
  max-width: inherit;
  max-height: inherit;
  bottom: 0;
}

.pic {
  max-width: inherit;
  max-height: inherit;
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
}

.firstItem {
  width: 500px;
  max-width: 500px;
  max-height: 400px;
  z-index: 2;
  left: 200px;
  cursor: pointer;
  bottom: 0;
  visibility: visible;
  animation: firstRotate 1s;
  -webkit-animation: firstRotate 1s;
  -moz-animation: firstRotate 1s;
  -o-animation: firstRotate 1s;
}
.firstItemDir {
  width: 500px;
  height: 400px;
  max-width: 500px;
  max-height: 400px;
  z-index: 2;
  left: 200px;
  cursor: pointer;
  bottom: 0;
  visibility: visible;
  animation: firstRotateDir 1s;
  -webkit-animation: firstRotateDir 1s;
  -moz-animation: firstRotateDir 1s;
  -o-animation: firstRotateDir 1s;
}

.rightItem {
  width: 180px;
  height: 180px;
  max-width: 180px;
  max-height: 180px;
  z-index: 1;
  left: 720px;
  bottom: 0;
  cursor: pointer;
  visibility: visible;
  animation: rightRotate 1s;
  -webkit-animation: rightRotate 1s;
  -moz-animation: rightRotate 1s;
  -o-animation: rightRotate 1s;
}
.rightItemDir {
  width: 180px;
  height: 180px;
  max-width: 180px;
  max-height: 180px;
  z-index: 1;
  left: 720px;
  bottom: 0;
  cursor: pointer;
  visibility: visible;
  animation: rightRotateDir 1s;
  -webkit-animation: rightRotateDir 1s;
  -moz-animation: rightRotateDir 1s;
  -o-animation: rightRotateDir 1s;
}

.leftItem {
  width: 180px;
  height: 180px;
  max-width: 180px;
  max-height: 180px;
  z-index: 1;
  left: 0px;
  bottom: 0;
  cursor: pointer;
  visibility: visible;
  animation: leftRotate 1s;
  -webkit-animation: leftRotate 1s;
  -moz-animation: leftRotate 1s;
  -o-animation: leftRotate 1s;
}

.leftItemDir {
  width: 180px;
  height: 180px;
  max-width: 180px;
  max-height: 180px;
  z-index: 1;
  left: 0px;
  bottom: 0;
  cursor: pointer;
  visibility: visible;
  animation: leftRotateDir 1s;
  -webkit-animation: leftRotateDir 1s;
  -moz-animation: leftRotateDir 1s;
  -o-animation: leftRotateDir 1s;
}

.normal {
  width: 180px;
  height: 180px;
  max-width: 180px;
  max-height: 180px;
  z-index: -1;
  left: 200px;
  bottom: 0;
  visibility: hidden;
}

.leave {
  animation: leave 1s;
  -webkit-animation: leave 1s;
  -moz-animation: leave 1s;
  -o-animation: leave 1s;
}

.leaveDir {
  animation: leaveDir 1s;
  -webkit-animation: leaveDir 1s;
  -moz-animation: leaveDir 1s;
  -o-animation: leaveDir 1s;
}

@keyframes firstRotate {
  0% {max-width: 200px;max-height: 200px; z-index: 2;left: 720px;bottom: 0;visibility: visible;}
  100% {height: 400px;max-width: 500px;max-height: 400px;z-index: 2;left: 200px;bottom: 0;visibility: visible;}
}
@-webkit-keyframes firstRotate {
  0% {max-width: 200px;max-height: 200px; z-index: 2;left: 720px;bottom: 0;visibility: visible;}
  100% {height: 400px;max-width: 500px;max-height: 400px;z-index: 2;left: 200px;bottom: 0;visibility: visible;}
}
@-moz-keyframes firstRotate {
  0% {max-width: 200px;max-height: 200px; z-index: 2;left: 720px;bottom: 0;visibility: visible;}
  100% {height: 400px;max-width: 500px;max-height: 400px;z-index: 2;left: 200px;bottom: 0;visibility: visible;}
}
@-o-keyframes firstRotate {
  0% {max-width: 200px;max-height: 200px; z-index: 2;left: 720px;bottom: 0;visibility: visible;}
  100% {height: 400px;max-width: 500px;max-height: 400px;z-index: 2;left: 200px;bottom: 0;visibility: visible;}
}

@keyframes rightRotate {
  0% {z-index: -1;left: 900px;visibility: hidden;}
  100% {z-index: 1;left: 720px;visibility: visible;}
}
@-webkit-keyframes rightRotate {
  0% {z-index: -1;left: 900px;visibility: hidden;}
  100% {z-index: 1;left: 720px;visibility: visible;}
}
@-moz-keyframes rightRotate {
  0% {z-index: -1;left: 900px;visibility: hidden;}
  100% {z-index: 1;left: 720px;visibility: visible;}
}
@-o-keyframes rightRotate {
  0% {z-index: -1;left: 900px;visibility: hidden;}
  100% {z-index: 1;left: 720px;visibility: visible;}
}
@keyframes leftRotate {
  0% {width: 500px;height: 400px;max-width: 500px;max-height: 400px;z-index: 2;left: 200px;bottom: 0;visibility: visible;}
  100% {max-width: 180px;max-height: 180px;z-index: 1;left: 0px;bottom: 0;visibility: visible;}
}
@-webkit-keyframes leftRotate {
  0% {width: 500px;height: 400px;max-width: 500px;max-height: 400px;z-index: 2;left: 200px;bottom: 0;visibility: visible;}
  100% {max-width: 180px;max-height: 180px;z-index: 1;left: 0px;bottom: 0;visibility: visible;}
}
@-moz-keyframes leftRotate {
  0% {width: 500px;height: 400px;max-width: 500px;max-height: 400px;z-index: 2;left: 200px;bottom: 0;visibility: visible;}
  100% {max-width: 180px;max-height: 180px;z-index: 1;left: 0px;bottom: 0;visibility: visible;}
}
@-o-keyframes leftRotate {
  0% {width: 500px;height: 400px;max-width: 500px;max-height: 400px;z-index: 2;left: 200px;bottom: 0;visibility: visible;}
  100% {max-width: 180px;max-height: 180px;z-index: 1;left: 0px;bottom: 0;visibility: visible;}
}


@keyframes firstRotateDir {
  0% {max-width: 180px;max-height: 180px;z-index: 2;left: 0px;bottom: 0;visibility: visible;}
  100% {width: 500px;height: 400px;max-width: 500px;max-height: 400px;z-index: 2;left: 200px;bottom: 0;visibility: visible;}
}
@-webkit-keyframes firstRotateDir {
  0% {max-width: 180px;max-height: 180px;z-index: 2;left: 0px;bottom: 0;visibility: visible;}
  100% {width: 500px;height: 400px;max-width: 500px;max-height: 400px;z-index: 2;left: 200px;bottom: 0;visibility: visible;}
}
@-moz-keyframes firstRotateDir {
  0% {max-width: 180px;max-height: 180px;z-index: 2;left: 0px;bottom: 0;visibility: visible;}
  100% {width: 500px;height: 400px;max-width: 500px;max-height: 400px;z-index: 2;left: 200px;bottom: 0;visibility: visible;}
}
@-o-keyframes firstRotateDir {
  0% {max-width: 180px;max-height: 180px;z-index: 2;left: 0px;bottom: 0;visibility: visible;}
  100% {width: 500px;height: 400px;max-width: 500px;max-height: 400px;z-index: 2;left: 200px;bottom: 0;visibility: visible;}
}
@keyframes leftRotateDir {
  0% {z-index: -1;left: -180px;visibility: hidden;}
  100% {z-index: 1;left: 0px;visibility: visible;}
}
@-webkit-keyframes leftRotateDir {
  0% {z-index: -1;left: -180px;visibility: hidden;}
  100% {z-index: 1;left: 0px;visibility: visible;}
}
@-moz-keyframes leftRotateDir {
  0% {z-index: -1;left: -180px;visibility: hidden;}
  100% {z-index: 1;left: 0px;visibility: visible;}
}
@-o-keyframes leftRotateDir {
  0% {z-index: -1;left: -180px;visibility: hidden;}
  100% {z-index: 1;left: 0px;visibility: visible;}
}
@keyframes rightRotateDir {
  0% {width: 500px;height: 400px;max-width: 500px;max-height: 400px;z-index: 2;left: 200px;bottom: 0;visibility: visible;}
  100% {max-width: 180px;max-height: 180px;z-index: 1;left: 720px;bottom: 0;visibility: visible;}
}
@-webkit-keyframes rightRotateDir {
  0% {width: 500px;height: 400px;max-width: 500px;max-height: 400px;z-index: 2;left: 200px;bottom: 0;visibility: visible;}
  100% {max-width: 180px;max-height: 180px;z-index: 1;left: 720px;bottom: 0;visibility: visible;}
}
@-moz-keyframes rightRotateDir {
  0% {width: 500px;height: 400px;max-width: 500px;max-height: 400px;z-index: 2;left: 200px;bottom: 0;visibility: visible;}
  100% {max-width: 180px;max-height: 180px;z-index: 1;left: 720px;bottom: 0;visibility: visible;}
}
@-o-keyframes rightRotateDir {
  0% {width: 500px;height: 400px;max-width: 500px;max-height: 400px;z-index: 2;left: 200px;bottom: 0;visibility: visible;}
  100% {max-width: 180px;max-height: 180px;z-index: 1;left: 720px;bottom: 0;visibility: visible;}
}
@keyframes leave {
  0% {z-index: 1; left: 0; visibility: visible;}
  100% {z-index: -1; left: -200px;}
}
@-webkit-keyframes leave {
  0% {z-index: 1; left: 0; visibility: visible;}
  100% {z-index: -1; left: -200px;visibility: hidden;}
}
@-moz-keyframes leave {
  0% {z-index: 1; left: 0; visibility: visible;}
  100% {z-index: -1; left: -200px;visibility: hidden;}
}
@-o-keyframes leave {
  0% {z-index: 1; left: 0; visibility: visible;}
  100% {z-index: -1; left: -200px;visibility: hidden;}
}
@keyframes leaveDir {
  0% {z-index: 1; left: 720px; visibility: visible;}
  100% {z-index: -1; left: 900px;visibility: hidden;}
}
@-webkit-keyframes leaveDir {
  0% {z-index: 1; left: 720px; visibility: visible;}
  100% {z-index: -1; left: 900px;visibility: hidden;}
}
@-moz-keyframes leaveDir {
  0% {z-index: 1; left: 720px; visibility: visible;}
  100% {z-index: -1; left: 900px;visibility: hidden;}
}
@-o-keyframes leaveDir {
  0% {z-index: 1; left: 720px; visibility: visible;}
  100% {z-index: -1; left: 900px;visibility: hidden;}
}
.smallPics {
  width: inherit;
  height: 120px;
  margin-top: 30px;
  background-color:transparent; 
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#26FFFFFF, endColorstr=#26FFFFFF);
  background: transparent;
  background-color:rgba(0,0,0,0.9);
}
.smallList-items {
  width: 800px;
  height: 120px;
  position: relative;
  overflow: hidden;
  display: inline-block;;
}

.smallList-item {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px 0px 10px 12.5px;
  cursor: pointer;
  position: absolute;
}

.smallList-item img {
  width: inherit;
  height: inherit;
}

.prev {
  background: url(./../../src/img/index/prevbtn.png) no-repeat center;
  display: inline-block;
  width: 50px;
  height: inherit;
  background-color: #fff;
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 10px 0px 5px #000;
}
.next {
  background: url(./../../src/img/index/nextbtn.png) no-repeat center;
  display: inline-block;
  width: 50px;
  height: inherit;
  background-color: #fff;
  opacity: 0.8;
  cursor: pointer;
  box-shadow: -10px 0px 5px #000;
}

.nonCenter {
  margin-top: 100px;
  text-align: center;
}

.nonCenter p {
  font-size: 16pt;
  font-weight: bold;
  color: gray;
}

.addPicBtn {
  text-align: center;
  margin: 10px 0 30px 0;
}

.addPicBtn button {
  border: none;
  line-height: 30px;
  padding: 0 20px;
  background-color: #00A1EA;
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

#addPicBG {
  z-index: 65535;/*top*/
  position: fixed;
  background-color: #000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:transparent; 
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#26FFFFFF, endColorstr=#26FFFFFF);
  background: transparent;
  background-color:rgba(0,0,0,0.5);
  display: none;
}

#addPicBG .addPic {
  width: 400px;
  padding: 30px 20px 10px 20px;
  border: 1px solid #9D9999; 
  background-color: #fff;
  overflow: hidden;
  position: absolute;
  top: calc(50% - 73px);
  left: calc(50% - 220px);
  display: none;
}

#addPic {
  border: 1px solid #000;
}

fieldset {
  border: 2px solid #00A1EA;
}

legend {
  color: #fff;
  background-color: #00A1EA;
}
.upload {
    padding: 4px 10px;
    height: 15px;
    line-height: 15px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    overflow: hidden;
    display: inline;
    margin-top: 5px;
}

.upload  input {
    position: absolute;
    font-size: 100px;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}

.upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none;
}

#chosen {
  width: 200px;
  height: 18px;
  line-height: 14px;
  padding: 2px 2px;
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
}

.add {
  font-size: 14px;
  color: #fff;
  background-color: #00A1EA;
  border:none;
  padding: 4px 10px;
  vertical-align: bottom;
  border: 1px solid #00A1EA; 
  margin-left: 10px;
}

#closeBtn {
  float: right;
  margin-top: 10px;
}

.showPic {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color:transparent; 
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#26FFFFFF, endColorstr=#26FFFFFF);
  background: transparent;
  background-color:rgba(0,0,0,0.9);
  display: none;
}

.centerPic {
  width: inherit;
  height: inherit;
  display: table-cell;
  vertical-align: middle;
  text-align: center; 
}

.centerPic img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
}

.center {
  width: inherit;
  height: inherit;
  display: table;
}

.opcaity {
  opacity: 0.7;
}

.opcaity img{
  border-radius: 10px;
}

#close {
  position: absolute;
  right: 10%;
  top: 10%;
  border: none;
  background-color:transparent; 
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#26FFFFFF, endColorstr=#26FFFFFF);
  background: transparent;
  background-color:rgba(0,0,0,0);
  color: #fff;
  font-size: 20px;
  font-weight: bolder; 
}