body {
  background-color: #eeeeee !important; }

#childAlbum {
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2% 2% 2% 2%;
  background-color: #eeeeee;
  margin-bottom: 2%;
  width: 70%;
  min-height: 700px;
  position: relative; }
  #childAlbum header {
    color: grey;
    font-size: 60pt;
    padding: 0px 0px 0px 0px; }
  #childAlbum #pictures {
    text-align: center;
    background-color: #eeeeee; }
    #childAlbum #pictures #pic-content .loop {
      display: block; }
      #childAlbum #pictures #pic-content .loop a {
        position: absolute;
        margin: 0 30px;
        width: 50px;
        height: 50px;
        display: block; }
      #childAlbum #pictures #pic-content .loop a:hover {
        cursor: pointer; }
      #childAlbum #pictures #pic-content .loop a::before {
        content: "";
        background: #C3BBBB;
        opacity: 0;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: absolute;
        right: 0px; }
      #childAlbum #pictures #pic-content .loop a:hover::before {
        opacity: 1;
        transform: scale(1);
        -webkit-transition: transform 0.3s, opacity 0.3s; }
      #childAlbum #pictures #pic-content .loop .icon-wrap {
        position: relative;
        display: block;
        margin: 10% 0 0 10%;
        width: 80%;
        height: 80%; }
      #childAlbum #pictures #pic-content .loop .icon-wrap::before {
        position: absolute;
        left: 25%;
        width: 3px;
        height: 50%;
        background: grey;
        content: ""; }
      #childAlbum #pictures #pic-content .loop .icon-wrap::after {
        position: absolute;
        left: 25%;
        width: 3px;
        height: 50%;
        background: grey;
        content: ""; }
      #childAlbum #pictures #pic-content .loop .icon-wrap::before {
        transform: translateX(-50%) rotate(45deg);
        transform-origin: 0 100%; }
      #childAlbum #pictures #pic-content .loop .icon-wrap::after {
        top: 50%;
        transform: translateX(-50%) rotate(-45deg);
        transform-origin: 0 0; }
      #childAlbum #pictures #pic-content .loop .prev {
        top: 50%;
        left: -10%; }
      #childAlbum #pictures #pic-content .loop .next {
        right: -10%;
        top: 50%; }
        #childAlbum #pictures #pic-content .loop .next .icon-wrap {
          transform: rotate(180deg); }
    #childAlbum #pictures #pic-content .adderButton {
      top: 50px;
      position: relative;
      top: -40px;
      left: 400px; }
      #childAlbum #pictures #pic-content .adderButton a {
        color: white; }
    #childAlbum #pictures #pic-content .picture {
      display: inline-block;
      height: 160px;
      width: 160px;
      padding: 1% 1% 1% 1%;
      text-align: center;
      margin-right: 30px;
      margin-bottom: 50px;
      background-color: white;
      border: solid #49474A 0.5px; }
      #childAlbum #pictures #pic-content .picture img {
        height: 140px;
        width: 140px;
        margin: 0 auto; }
    #childAlbum #pictures #pic-content .picture:hover {
      cursor: pointer; }
    #childAlbum #pictures nav {
      margin-left: auto;
      margin-right: auto; }
  #childAlbum #container {
    display: none;
    background-color: grey;
    padding: 1% 1% 1% 1%;
    position: fixed;
    border: solid 2px;
    border-radius: 10%;
    left: 50%;
    top: 50%;
    margin-left: -15%;
    margin-top: -15%;
    height: 30%;
    width: 30%; }
    #childAlbum #container #addPicture {
      background-color: white;
      text-align: center;
      padding: 2% 2% 2% 2%;
      display: block;
      border: solid 2px;
      border-radius: 10%;
      height: 100%; }
      #childAlbum #container #addPicture .id {
        display: none; }
      #childAlbum #container #addPicture #close {
        margin-left: 30px; }
  #childAlbum #screen.hidden .loop {
    height: 0;
    width: 0; }
  #childAlbum #screen.hidden #light {
    height: 0;
    width: 0; }
  #childAlbum #screen {
    position: fixed;
    top: 0%;
    left: -45%;
    transition: height 2s, width 2s;
    -webkit-transition: height 2s, width 2s;
    z-index: 2;
    background-color: black; }
    #childAlbum #screen * {
      transition: height 2s, width 2s;
      -webkit-transition: height 2s, width 2s; }
    #childAlbum #screen #light {
      width: 5%; }
    #childAlbum #screen .loop {
      display: block; }
      #childAlbum #screen .loop a {
        position: absolute;
        margin: 0 30px;
        width: 50px;
        height: 50px;
        display: block; }
      #childAlbum #screen .loop a:hover {
        cursor: pointer; }
      #childAlbum #screen .loop a::before {
        content: "";
        background: #C3BBBB;
        opacity: 0;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: absolute;
        right: 0px; }
      #childAlbum #screen .loop a:hover::before {
        opacity: 1;
        transform: scale(1);
        -webkit-transition: transform 0.3s, opacity 0.3s; }
      #childAlbum #screen .loop .icon-wrap {
        position: relative;
        display: block;
        margin: 10% 0 0 10%;
        width: 80%;
        height: 80%; }
      #childAlbum #screen .loop .icon-wrap::before {
        position: absolute;
        left: 25%;
        width: 3px;
        height: 50%;
        background: grey;
        content: ""; }
      #childAlbum #screen .loop .icon-wrap::after {
        position: absolute;
        left: 25%;
        width: 3px;
        height: 50%;
        background: grey;
        content: ""; }
      #childAlbum #screen .loop .icon-wrap::before {
        transform: translateX(-50%) rotate(45deg);
        transform-origin: 0 100%; }
      #childAlbum #screen .loop .icon-wrap::after {
        top: 50%;
        transform: translateX(-50%) rotate(-45deg);
        transform-origin: 0 0; }
      #childAlbum #screen .loop .prev {
        top: 40%;
        left: 5%;
        z-index: 2; }
      #childAlbum #screen .loop .next {
        right: -15%;
        top: 40%;
        z-index: 2; }
        #childAlbum #screen .loop .next .icon-wrap {
          transform: rotate(180deg); }
    #childAlbum #screen #image {
      background-color: white;
      border-radius: 5%;
      text-align: center;
      margin: 0 auto;
      width: 90%;
      height: 90%;
      padding: 2% 1% 2% 1%;
      left: 5%;
      top: 4%;
      bottom: 1%;
      position: absolute;
      display: inline-block; }
      #childAlbum #screen #image img {
        margin: 0 auto;
        top: 5%;
        left: 5%;
        width: auto;
        height: 90%; }

.album-pic {
  width: auto;
  display: inline-block !important;
  margin-top: 30px;
  margin-bottom: 30px; }

footer {
  margin-bottom: 2%;
  text-align: center; }

.picture-page {
  text-align: center; }

/*# sourceMappingURL=childAlbum.css.map */
