body {
	background-color: #F1EFF0;
}

.article_editor {
    position: relative;
}

.main {
	width: 750px;
	margin: 0 auto 50px auto;
	padding-top: 50px;
	clear: both;
}

.discussion {
	clear: both;
	overflow: hidden;
}

/*avatar*/
.avatar {
	height: 75px;
	margin: 0 12.5px;
	width: 75px;
}

.avatar img {
	border-radius: 50%;
	height: 60px;
	margin: 7.5px 7.5px;
	width: 60px;
}
/*avatar*/
/*css of up and down*/
.up_box, .down_box {
	height: 32px;
	margin: 0 12.5px;
	width: 75px;
	overflow: hidden;
}

.up_box p, .down_box p{
	color: #1BA6EB;
	margin-top:10px;
	font-size: 18px;
}

.up_box span, .down_box span {
	padding-left: 8px;
}

.up, .down {
	border: none;
	color: #fff;
	float: left;
	height: 25px;
	width: 25px;
	margin: 6px 0 0 15px;
}

.up {
	background-image: url(/src/img/up.png);
}

.down {
	background-image: url(/src/img/down.png);
}
/*css of up and down*/
/*DiscussionContent*/
.discussion_left {
	height: 150px;
	float: left;
	width: 100px;
}

.discussion_right {
	height: auto;
	float: right;
	width: 650px;
}
/*DiscussionContent*/
/*MainDiscussion*/
.discussion_right_top {
	background-color: #fff;
	height: auto;
	padding: 10px 20px;
	border:1px solid #DEDEDE;
}

.size {
	width: 608px;
	position: relative;
}

.reply_size {
	width: 515px;
	float: right;
	position: relative;
}

.discussion_MainPart{
	min-height: 85px;
}

.discussion_title {
	color: #1BA6EB;
	font-size: 20px;
	margin: 10px;
}

.discussion_content {
	color: #000;
	font-size: 17px;
}

.discussion_detail {
	margin: 5px;
}

.style {
	margin-right: 10px;
	font-size: 15px;
}

.gray {
	color: #808080;
}

.blue {
	color: #1BA6EB;
}

.reply_style {
	float: right;
}

.discussion_right_down {
	height: auto;
	width: 650px;
}

.discussion_join {
	margin: 15px 0 0 0;
	font-size: 16px;
}
.show {
	display: none;
}
/*MainDiscussion*/
/*css of input and button*/
input {
	border: 1px solid #DEDEDE;
	font-size: 16px;
	height: 30px;
	margin-top: 10px;
	padding: 5px 10px;
	width: 629px;
}

.discussion_right_down button {
	height: 40px;
	color: #fff;
	font-size: 16px;
	margin: 10px 0;
	background-color: #00A0EA;
	float: right;
	border: none;
	padding: 0 25px;
}
/*css of input and botton*/
.discussion_reply{
	float:right;
	margin-bottom: 10px;
	min-height: 75px;
	width: 650px;
}

.discussion_left_reply {
	width: 75px;
	float: left;
}

.discussion_part {
	min-height: 25px;
}
/*reply*/
/*bottom*/
#discuss_bottom {
	text-align: center;
	color: #000;
	font-size: 18px;
}
/*bottom*/
/*shadow*/
.discussion_s {
	width: 750px;
	height: auto;
	margin-bottom: 50px;
	position: relative;
}

.size:after {
	position: absolute;
    content: '';
    width: 600px;
    height: 80px;
    background-color: #DDDBDC;
    right: 10px;
    bottom: 0;
    z-index: -1;
    transform: rotate(2deg);
    -ms-transform:rotate(2deg);    /* IE 9 */
    -moz-transform:rotate(2deg);    /* Firefox */
    -webkit-transform:rotate(2deg); /* Safari 和 Chrome */
    -o-transform:rotate(2deg);  /* Opera */
}
.add_discussion_right {
	position: relative;
	margin-bottom: 10px;
}
.reply_size:after {
	position: absolute;
    content: '';
    width: 400px;
    height: 80px;
    background-color: #DDDBDC;
    right: 10px;
    bottom: 0;
    z-index: -1;
    transform: rotate(2deg);
    -ms-transform:rotate(2deg);    /* IE 9 */
    -moz-transform:rotate(2deg);    /* Firefox */
    -webkit-transform:rotate(2deg); /* Safari 和 Chrome */
    -o-transform:rotate(2deg);  /* Opera */
}

.input_shadow {
	width: 650px;
	height: auto;
	position: relative;
}

.input_shadow:after {
	position: absolute;
    content: '';
    width: 550px;
    height: 10px;
    background-color: #DDDBDC;
    right: 10px;
    bottom: 3px;
    z-index: -1;
    transform: rotate(2deg);
    -ms-transform:rotate(2deg);    /* IE 9 */
    -moz-transform:rotate(2deg);    /* Firefox */
    -webkit-transform:rotate(2deg); /* Safari 和 Chrome */
    -o-transform:rotate(2deg);  /* Opera */
}
/*shadow*/

#delete_discussion {
	border: none;
	color: #1BA6EB;
	background-color: #fff;
	font-size: 15px;
}

.update_discussion {
	border: none;
	color: #1BA6EB;
	background-color: #fff;
	font-size: 15px;
}

.delete_answer {
	border: none;
	color: #1BA6EB;
	background-color: #fff;
	font-size: 15px;
	float: right;
	margin: 0;
}

.update_answer {
	border: none;
	color: #1BA6EB;
	background-color: #fff;
	font-size: 15px;
	float: right;
	margin: 0;
}

.delete_reply {
	border: none;
	color: #1BA6EB;
	background-color: #fff;
	font-size: 15px;
	float: right;
	margin: 0;
}

.update_reply {
	border: none;
	color: #1BA6EB;
	background-color: #fff;
	font-size: 15px;
	float: right;
	margin: 0;
}

.article-editor textarea {
	width: 830px;
	height: 300px;
}

.article-editor .main {
	width: 850px;
	margin: 25px auto 50px auto;
}
i
.article-editor input {
	height: 40px;
	margin: 20px 0;
	border: 1px solid #D8D8D8;
	font-size: 18px;
	padding: 3px 8px;
}

.article-editor button {
	font-size: 16px;
	color: #fff;
	border: none;
	border-radius: 10%;
	padding: 0 25px;
    float: none;
    cursor: pointer;
}

.article-editor #submit{
	background-color: #00A0EA;
	height: 40px;
}

.article-editor #update{
	background-color: #00A0EA;
	height: 40px;
    position: relative;
    left: 550px;
}

.article-editor #cancel {
	background-color: #484848;
	height: 40px;
    position: relative;
    left: 550px;
}

.article-editor .bottom {
	color: black;
	text-align: center;
	font-size: 18px;
}

.add_shadow_title {
	width: 500px;
	height: auto;
	position: relative;
}

.add_shadow_title input {
	width: 500px;
    height: 40px;
    margin: 20px 0;
    font-size: 18px;
}

.add_shadow_title:after {
	position: absolute;
    content: '';
    width: 450px;
    height: 20px;
    background-color: #DDDBDC;
    right: 20px;
    top: 45px;
    z-index: -1;
    transform: rotate(3deg);
    -ms-transform:rotate(3deg);    /* IE 9 */
    -moz-transform:rotate(3deg);    /* Firefox */
    -webkit-transform:rotate(3deg); /* Safari 和 Chrome */
    -o-transform:rotate(3deg);  /* Opera */
}

.add_shadow_tag {
	width: 300px;
	height: auto;
	position: relative;
}

.add_shadow_tag input {
	width: 250px;
}

.add_shadow_tag:after {
	position: absolute;
    content: '';
    width: 150px;
    height: 20px;
    background-color: #DDDBDC;
    right: 50px;
    top: 50px;
    z-index: -1;
    transform: rotate(3deg);
    -ms-transform:rotate(3deg);    /* IE 9 */
    -moz-transform:rotate(3deg);    /* Firefox */
    -webkit-transform:rotate(3deg); /* Safari 和 Chrome */
    -o-transform:rotate(3deg);  /* Opera */
}
#content_textarea:after {
	position: absolute;
    content: '';
    width: 800px;
    background-color: #DDDBDC;
    right: 20px;
    top: 270px;
    z-index: -1;
    transform: rotate(3deg);
    -ms-transform:rotate(3deg);    /* IE 9 */
    -moz-transform:rotate(3deg);    /* Firefox */
    -webkit-transform:rotate(3deg); /* Safari 和 Chrome */
    -o-transform:rotate(3deg);  /* Opera */
}

.article-editor button {
	border: none;
}

#content_ifr {
    height: 307px!important;
}
