body {
  background-color: #eeeeee !important; }

.main {
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2% 2% 2% 2%;
  background-color: #eeeeee;  
  margin-bottom: 2%;
  width: 70%; 
  min-height: 700px;
  position: relative;
  font-size: 18px; }
  .main header h1 {
    text-align: center;
    color: grey;
    font-size: 30pt;
    font-weight: bold; }
  .main #pictures {
    text-align: center;
    background-color: #eeeeee;
    font-size: 18px; }
    .main #pictures .adderButton {
      top: 0px;
      position: relative;
      color: white; }
    .main #pictures #pic-content {
      position: relative;
      margin-top: 20px; }
      .main #pictures #pic-content .adderButton-two {
        top: -10px;
        right: -40%;
        position: relative;
        z-index: 2; }
        .main #pictures #pic-content .adderButton-two a {
          color: white;
          font-size: 18px; }
      .main #pictures #pic-content .loop {
        display: block; }
        .main #pictures #pic-content .loop a {
          position: absolute;
          margin: 0 30px;
          width: 50px;
          height: 50px;
          display: block; }
        .main #pictures #pic-content .loop a:hover {
          cursor: pointer; }
        .main #pictures #pic-content .loop a::before {
          content: "";
          background: #C3BBBB;
          opacity: 0;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          position: absolute;
          right: 0px; }
        .main #pictures #pic-content .loop a:hover::before {
          opacity: 1;
          transform: scale(1);
          -webkit-transition: transform 0.3s, opacity 0.3s; }
        .main #pictures #pic-content .loop .icon-wrap {
          position: relative;
          display: block;
          margin: 10% 0 0 10%;
          width: 80%;
          height: 80%; }
        .main #pictures #pic-content .loop .icon-wrap::before {
          position: absolute;
          left: 25%;
          width: 3px;
          height: 50%;
          background: grey;
          content: ""; }
        .main #pictures #pic-content .loop .icon-wrap::after {
          position: absolute;
          left: 25%;
          width: 3px;
          height: 50%;
          background: grey;
          content: ""; }
        .main #pictures #pic-content .loop .icon-wrap::before {
          transform: translateX(-50%) rotate(45deg);
          transform-origin: 0 100%; }
        .main #pictures #pic-content .loop .icon-wrap::after {
          top: 50%;
          transform: translateX(-50%) rotate(-45deg);
          transform-origin: 0 0; }
        .main #pictures #pic-content .loop .prev {
          top: 50%;
          left: -10%; }
        .main #pictures #pic-content .loop .next {
          right: -10%;
          top: 50%; }
          .main #pictures #pic-content .loop .next .icon-wrap {
            transform: rotate(180deg); }
      .main #pictures #pic-content .picture {
        display: inline-block;
        height: 160px;
        width: 160px;
        padding: 1% 1% 1% 1%;
        text-align: center;
        margin-right: 30px;
        margin-bottom: 50px;
        background-color: white;
        border: solid #49474A 0.5px; }
        .main #pictures #pic-content .picture img {
          height: 140px;
          width: 140px;
          margin: 0 auto; }
      .main #pictures #pic-content .picture:hover {
        cursor: pointer; }
    .main #pictures nav {
      margin-left: auto;
      margin-right: auto; }
  .main #container {
    display: none;
    font-size: 18px;
    background-color: grey;
    padding: 1% 1% 1% 1%;
    position: fixed;
    border: solid 2px;
    border-radius: 10%;
    left: 50%;
    top: 50%;
    margin-left: -15%;
    margin-top: -15%;
    height: 30%;
    width: 30%; }
    .main #container #addPicture {
      background-color: white;
      text-align: center;
      padding: 2% 2% 2% 2%;
      display: block;
      border: solid 2px;
      border-radius: 10%;
      height: 100%; }
      .main #container #addPicture .id {
        display: none; }
      .main #container #addPicture #close {
        margin-left: 30px; }
  .main #screen.hidden .loop {
    height: 0;
    width: 0; }
  .main #screen.hidden #light {
    height: 0;
    width: 0; }
  .main #screen {
    position: fixed;
    top: 0%;
    left: -45%;
    transition: height 2s, width 2s;
    -webkit-transition: height 2s, width 2s;
    z-index: 2;
    background-color: black;
    font-size: 18px; }
    .main #screen * {
      transition: height 2s, width 2s;
      -webkit-transition: height 2s, width 2s; }
    .main #screen #light {
      width: 5%; }
    .main #screen .loop {
      display: block; }
      .main #screen .loop a {
        position: absolute;
        margin: 0 30px;
        width: 50px;
        height: 50px;
        display: block; }
      .main #screen .loop a:hover {
        cursor: pointer; }
      .main #screen .loop a::before {
        content: "";
        background: #C3BBBB;
        opacity: 0;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: absolute;
        right: 0px; }
      .main #screen .loop a:hover::before {
        opacity: 1;
        transform: scale(1);
        -webkit-transition: transform 0.3s, opacity 0.3s; }
      .main #screen .loop .icon-wrap {
        position: relative;
        display: block;
        margin: 10% 0 0 10%;
        width: 80%;
        height: 80%; }
      .main #screen .loop .icon-wrap::before {
        position: absolute;
        left: 25%;
        width: 3px;
        height: 50%;
        background: grey;
        content: ""; }
      .main #screen .loop .icon-wrap::after {
        position: absolute;
        left: 25%;
        width: 3px;
        height: 50%;
        background: grey;
        content: ""; }
      .main #screen .loop .icon-wrap::before {
        transform: translateX(-50%) rotate(45deg);
        transform-origin: 0 100%; }
      .main #screen .loop .icon-wrap::after {
        top: 50%;
        transform: translateX(-50%) rotate(-45deg);
        transform-origin: 0 0; }
      .main #screen .loop .prev {
        top: 40%;
        left: 5%;
        z-index: 2; }
      .main #screen .loop .next {
        right: -15%;
        top: 40%;
        z-index: 2; }
        .main #screen .loop .next .icon-wrap {
          transform: rotate(180deg); }
    .main #screen #image {
      background-color: white;
      border-radius: 5%;
      text-align: center;
      margin: 0 auto;
      width: 90%;
      height: 90%;
      padding: 2% 1% 2% 1%;
      left: 5%;
      top: 4%;
      bottom: 1%;
      position: absolute;
      display: inline-block; }
      .main #screen #image img {
        margin: 0 auto;
        top: 5%;
        left: 5%;
        width: auto;
        height: 90%; }
  .main .album-pic {
    width: auto;
    display: inline-block !important;
    margin-top: 30px;
    margin-bottom: 30px; }
  .main .picture-page {
    text-align: center; }
    .main .picture-page img {
      width: auto;
      max-height: 900px; }
  .main #albumId {
    display: none; }
  .main .visible {
    display: block !important; }

footer {
  margin-bottom: 2%;
  text-align: center;
  font-size: 18px; }

#header {
  box-sizing: content-box; }
  #header * {
    box-sizing: content-box; }
  #header h3 {
    font-weight: bold; }
.submit_style {
  border-radius: 4px;
  border:none;
  padding: 10px; 
}
/*# sourceMappingURL=childAlbum.css.map */

#delete_album {
  border: none;
  background-color: #1BA6EB;
  color: #fff;
  float: right;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  top: -10px;
  right: 27%;
}