body {
	margin: 0;
	padding: 0;
	background-color: #F1EFF0;
}

input {
	border: 1px solid #DEDEDE;
	height: 30px;
	padding: 5px 10px;
}

p {
	font-size: 15px;
}

.article_comment input {
	width: 778px;
}

button {
	height: 40px;
	color: #fff;
	font-size: 16px;
	margin-top: 10px;
	background-color: #00A0EA;
	float: right;
	border: none;
	padding: 0 25px;
}

img {
	border-radius: 50%;
	height: 60px;
	width: 60px;
	margin: 7.5px;
}

.main {
	clear: both;
	margin: 0 auto 50px auto;
	width: 800px;
}

.main button {
    cursor: pointer;
}

.article {
	height: auto;
	width: 800px;
    margin-bottom: 10px;
}

.article_page {
    margin-top: 30px;
	background-color: #fff;
	border: 1px solid #DEDEDE;
	padding: 40px;
	position: relative;
	width: 718px;
}

#comment-submit, .reply-submit {
    border-radius: 5px;
}

.article_page:after {
	position: absolute;
    content: '';
    width: 700px;
    height: 100px;
    background-color: #DDDBDC;
    right: 20px;
    bottom: 0px;
    z-index: -1;
    transform: rotate(2deg);
    -ms-transform:rotate(2deg);    /* IE 9 */
    -moz-transform:rotate(2deg);    /* Firefox */
    -webkit-transform:rotate(2deg); /* Safari 和 Chrome */
    -o-transform:rotate(2deg); 
}

.comment_reply {
	overflow: hidden;
	width: 800px;
}

.reply-submit {
    margin-bottom: 10px;
}

.article_page_title {
	text-align: center;
	color: #1BA6EB;
	font-size: 24px;
	margin: 0;
	white-space: normal;
	word-break:break-all; /*支持IE，chrome，FF不支持*/
	word-wrap:break-word;/*支持IE，chrome，FF*/
}

.article_page_writer {
	text-align: center;
	color: #808080;
	font-size: 16px;
	margin: 10px 0;
}

.article_page_content {
	white-space: normal;
	word-break:break-all;
	word-wrap:break-word;
}

.article_comment {
	overflow: hidden;
	margin: 20px 0;
	position: relative;
}

.article_comment:after {
	position: absolute;
    content: '';
    width: 700px;
    height: 20px;
    background-color: #DDDBDC;
    right: 20px;
    top: 18px;
    z-index: -1;
    transform: rotate(2deg);
    -ms-transform:rotate(2deg);    /* IE 9 */
    -moz-transform:rotate(2deg);    /* Firefox */
    -webkit-transform:rotate(2deg); /* Safari 和 Chrome */
    -o-transform:rotate(2deg); 
}

.comment {
	width: 800px;
	overflow: hidden;
}

.comment_content {
	float: right;
	background-color: #fff;
	padding: 12px 24px;
	position: relative;
	border: 1px solid #DEDEDE;
	margin-bottom: 10px;
}

.comment_content_width {
	width: 675px;
}

.avatar {
	float: left;
	height: 75px;
	width: 75px;
	overflow: hidden;
}

.click_to_reply {
	margin: 0;
	text-align: left;
	font-size: 16px;
}

.left {
	float: left;
	margin-right: 10px;
	color: #808080;
	font-size: 14px;
}

.right {
	float: right;
	color: #1BA6EB;
}

.comment_comment {
	position: relative;
	overflow: hidden;
	width: 725px;
	float: right;
}

.comment_comment input {
	width: 702px;
}

.comment_comment:after {
	position: absolute;
    content: '';
    width: 700px;
    height: 20px;
    background-color: #DDDBDC;
    right: 20px;
    top: 18px;
    z-index: -1;
    transform: rotate(2deg);
    -ms-transform:rotate(2deg);    /* IE 9 */
    -moz-transform:rotate(2deg);    /* Firefox */
    -webkit-transform:rotate(2deg); /* Safari 和 Chrome */
    -o-transform:rotate(2deg); 
}

.comment_content:after {
	position: absolute;
    content: '';
    height: 20px;
    background-color: #DDDBDC;
    right: 20px;
    bottom: 3px;
    z-index: -1;
    transform: rotate(2deg);
    -ms-transform:rotate(2deg);    /* IE 9 */
    -moz-transform:rotate(2deg);    /* Firefox */
    -webkit-transform:rotate(2deg); /* Safari 和 Chrome */
    -o-transform:rotate(2deg); 
}

.comment_content_width:after {
    width: 700px;
}

.reply_content:after {
	width:  600px;
}

.reply {
	float: right;
	width: 725px;
	overflow: hidden;
}

.reply_content {
	width: 600px;
}

.hide {
	display: none;
}

.bottom {
    text-align: center;
    margin-top: 20%;
}
.style {
	margin-right: 10px;
	font-size: 15px;
}

.gray {
	color: #808080;
}

.blue {
	color: #1BA6EB;
}

.reply_style {
	float: right;
	margin-right: 10px;
    cursor: pointer;
}

#delete_article {
	border: none;
	color: #1BA6EB;
	font-size: 12px;
	background-color: #fff;
	float: right;
	left: 630px;
    height: 20px;
}

#update_article {
	border: none;
	color: #1BA6EB;
	font-size: 12px;
	background-color: #fff;
	float: right;
	left: 630px;
    height: 20px;
}

#content_ifr {
    height: 307px!important;
}

.delete_discussion {
	height: 20px;
	background-color: #fff;
	color: #1BA6EB;
	margin-top: 0;
}

.update_comment {
    padding: 0;
	height: 20px;
	background-color: #fff;
	color: #1BA6EB;
	margin-top: 0;
}

.submit_comment {
    padding: 0;
	height: 20px;
	background-color: #fff;
	color: #1BA6EB;
	margin-top: 0;
}

.delete_reply {
	border: none;
	color: #1BA6EB;
	background-color: #fff;
	font-size: 15px;
	float: right;
	margin: 0;
	padding-right: 10px;
	height: 20px;
}

#content_textarea {
	width: 830px;
	height: 400px;
	position: relative;
}

#content_textarea_border {
	border:1px solid #D8D8D8;
}

.article-editor textarea {
	width: 830px;
	height: 300px;
}

.article-editor .main {
	width: 850px;
	margin: 25px auto 50px auto;
}
i
.article-editor input {
	height: 40px;
	margin: 20px 0;
	border: 1px solid #D8D8D8;
	font-size: 18px;
	padding: 3px 8px;
}

.create_tag {
    background: white;
    margin-bottom: 30px;
    padding-left: 10px;
    width: 65%;
    border: 1px solid #d8d8d8;
    position: relative;
}

.create_tag:after {
	position: absolute;
    content: '';
    width: 450px;
    height: 20px;
    background-color: #DDDBDC;
    right: 20px;
    top: 35px;
    z-index: -1;
    transform: rotate(3deg);
    -ms-transform:rotate(3deg);    /* IE 9 */
    -moz-transform:rotate(3deg);    /* Firefox */
    -webkit-transform:rotate(3deg); /* Safari 和 Chrome */
    -o-transform:rotate(3deg);  /* Opera */
}

.create_tag p {
    display: inline-block;
    color: #8f9b8f;
    font-size: 14pt;
}

.create_tag input {
    height: 10px;
    margin-left: 10px;
}

.article-editor button {
	font-size: 16px;
	color: #fff;
	border: none;
	border-radius: 10%;
	padding: 0 25px;
    float: none;
    cursor: pointer;
}

.article-editor #submit{
	background-color: #00A0EA;
}

.article-editor #cancel {
	background-color: #484848;
}

.article-editor .bottom {
	color: black;
	text-align: center;
	font-size: 18px;
}

.add_shadow_title {
	width: 500px;
	height: auto;
	position: relative;
}

.add_shadow_title input {
	width: 500px;
    height: 40px;
    margin: 20px 0;
    font-size: 18px;
}

.add_shadow_title:after {
	position: absolute;
    content: '';
    width: 450px;
    height: 20px;
    background-color: #DDDBDC;
    right: 20px;
    top: 45px;
    z-index: -1;
    transform: rotate(3deg);
    -ms-transform:rotate(3deg);    /* IE 9 */
    -moz-transform:rotate(3deg);    /* Firefox */
    -webkit-transform:rotate(3deg); /* Safari 和 Chrome */
    -o-transform:rotate(3deg);  /* Opera */
}

.add_shadow_tag {
	width: 300px;
	height: auto;
	position: relative;
}

.add_shadow_tag input {
	width: 250px;
}

.add_shadow_tag:after {
	position: absolute;
    content: '';
    width: 150px;
    height: 20px;
    background-color: #DDDBDC;
    right: 50px;
    top: 50px;
    z-index: -1;
    transform: rotate(3deg);
    -ms-transform:rotate(3deg);    /* IE 9 */
    -moz-transform:rotate(3deg);    /* Firefox */
    -webkit-transform:rotate(3deg); /* Safari 和 Chrome */
    -o-transform:rotate(3deg);  /* Opera */
}
#content_textarea:after {
	position: absolute;
    content: '';
    width: 800px;
    height: 100px;
    background-color: #DDDBDC;
    right: 20px;
    top: 270px;
    z-index: -1;
    transform: rotate(3deg);
    -ms-transform:rotate(3deg);    /* IE 9 */
    -moz-transform:rotate(3deg);    /* Firefox */
    -webkit-transform:rotate(3deg); /* Safari 和 Chrome */
    -o-transform:rotate(3deg);  /* Opera */
}

.article-editor button {
	border: none;
}

.comment_editor {
    width: 90%;
    margin-bottom: 10px;
}

