#create-album {
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2% 2% 2% 2%; }
  #create-album header {
    color: grey;
    font-size: 60pt;
    padding: 0px 0px 0px 0px; }
