div#footer
  div#footer-content
    div.footer-siteinfo
      h2
        |感谢
      p
        |blablablablablablablablablablabla
        |blablablablablablablablablablabla
        |blablablablablablablablablablabla
        |blablablablablablablablablablabla
    div.footer-siteinfo#siteinfo-right
      h2
        |联系方式
      p
        |blablablablablablablablablablabla
        |blablablablablablablablablablabla
      div#footer-donation
        p
          |捐赠我们
  div#footer-miac
    p @2015MIAC
