div#header
    div#header-wrapper
        div#header-logo
            div#triangle-small
            div#triangle-big
            h3 MIAC
            div#header-pointer
        div#header-nav
            - elements = ['Index', 'Article', 'Discuss', 'Album', 'Works', 'About']
            each element in elements
                a(href='/' + element)=element
        div#header-operation
            if user
                a(href='/user/' + user._id) Profile
                a(id='logout') Sign out
            else
                a(href='/log') Sign in
                a(href='/register') Sign up
    div#header-bottom
