- elements = ['index', 'article', 'discuss', 'album', 'works', 'about']
each element in elements
    a(href='/' + element)=element
if user
    img(src='/assets/img/user/' + user.avatar alt='avatar')
    a(href='/user/' + user._id) 个人
    a(id='logout') 登出
else
    a(href='/log') 登录
    a(href='/register') 注册

script(src='../bin/js/header.js')
