a(href='/') 主页
a(href='/article') 文章
a(href='/discuss') 讨论
a(href='/album') 相册
a(href='/works') 作品
a(href='/about') 关于
if (user)
    img(src='/assets/img/user/' + user.avatar alt='avatar')
    a(href='/user/' + user._id) 个人
    a(id='logout') 登出
else
    a(href='/log') 登录
    a(href='/register') 注册

script(src='../bin/js/header.js')
