div#header
    div#header-wrapper
        div#header-logo
            div#triangle-small
            div#triangle-big
            h3 MIAC
            div#header-pointer
        div#header-nav
            a(href='/Home') Home
            a(href="/Article?page=1&tag=") Article
            a(href="/Discuss?page=1&tag=") Discuss
            a(href="/Album?page=1&tag=") Album
            a(href="/Works") Works
            a(href='About') About
        div#header-operation
            if user
                a(href='/user/' + user._id) Profile
                a(id='logout') Sign out
            else
                a(href='/log') Sign in
                a(href='/register') Sign 
        div#message.animate.invisible
            header
                h4 Message
                button.close
                    span(aria-hidden="true") x
            div.hz-line
            div#message-content
                p XXX
            a.button.button-action.button-pill OK
    div#header-bottom
