div#navigator
    div#links
        div.link(data-num = 0)
            span
                span.glyphicon.glyphicon-home
                a(href="/")主页
            br
            |    HOME
        div.link(data-num = 1)
            span 
                a(href="/article")文章
            br
            | ARTICLE
        div.link(data-num = 2)
            span
                a(href="/share")分享
            br
            | SHARE    
        div.link(data-num = 3)
            span
                a(href="/discuss") 讨论
            br
            | DISSCUSS    
        div.link(data-num = 4)
            span
                a(href="/album") 相册
            br
            | ALBUM    
        div.link(data-num = 5)
            span
                a(href="/work") 作品
            br
            | WORKS
        div.link(data-num = 6)
            span
                a(href="/about") 关于
            br
            | ABOUT
    div#user-poccess
        if (user)
            div.button
                span
                    a(href="/logout") 登出
        else
            div.button
                span.login
                    a(href="/log") 登录
            div.button
                span.register
                    a(href="/register") 注册
    div.triangle
    div#divided-line