doctype html
html
    head
        title index
        script(src='/lib/jquery.js')
        script(src='/bin/js/#{name}.js')
        script(src='/bin/js/header.js')
        script(src='/lib/bootstrap/js/bootstrap.min.js')
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        link(rel="stylesheet", href="/bin/css/layout.css")
        link(rel="stylesheet", href="/bin/css/#{name}.css")
        link(rel="stylesheet", href="/bin/css/header.css")
        link(rel="stylesheet", href="/lib/bootstrap/css/bootstrap.min.css")
    body
        header
            include ./header.jade
        block content
    footer
        p#writer Copyright ©2014 MIAC
